<div
  class="header pb-3 pt-1 d-flex align-items-center"
  style="
    min-height: 600px;
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <h1 class="display-2 text-white">Saque bancário</h1>
        <p class="text-white mt-0 mb-1">
          O seu saldo em conta é de R$ {{ saldoConta }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Minha conta: {{ conta }}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="fazerSaque()">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-valor">Valor</label>
                    <input
                      type="number"
                      id="input-valor"
                      class="form-control form-control-alternative"
                      placeholder="R$ Valor do saque"
                      name="valorSaque"
                      required
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary my-4">Sacar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>