<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">

 <div class="col-xl-8">
        <div class="card shadow">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="text-uppercase text-muted ls-1 mb-1">Gerentes</h6>
                        <h2 class="mb-0">Lista de Gerentes</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Nome</th>
                          <th scope="col">CPF</th>
                          <th scope="col">E-mail</th>
                          <th scope="col">Telefone</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row"><!-- Nome do Gerente --></th>
                          <td><!-- CPF do Gerente --></td>
                          <td><!-- E-mail do Gerente --></td>
                          <td><!-- Telefone do Gerente --></td>
                          <td>
                            <!-- Botões de ação (sem funcionalidade) -->
