<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bantads</title>
       <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Administraçao de Gerencia</h1>

<div class="tab">

  <table class="table table-dark table-hover" border="2" [cellPadding]="3">

<th> Gerente</th>
<th> Quantidade Clientes</th>
<th> Saldo</th>
<tr>
    <td>Nome1</td>
    <td> 4</td>
    <td>3000</td>
</tr>
<tr>
  <td>Nome2</td>
  <td>7</td>
  <td>5000</td>
</tr>
<tr>
  <td>Nome3</td>
  <td>10</td>
  <td>20000</td>
</tr>
<tr>
  <td>Nome4</td>
  <td>25</td>
  <td>45000</td>
</tr>


</table>
</div>
<br>
<button type="button" class="btn btn-primary">Alterar</button>
<button type="button" class="btn btn-secondary">Remover</button>
<button type="button" class="btn btn-success">Incluir</button>
</body>

</html>
