<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bantads</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>   
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Depósito</h5>
                        <a href="#" class="btn btn-primary">Depósito</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Transferência</h5>
                        <a href="#" class="btn btn-primary">Transferência</a>
                    </div>
                </div>
            </div>
          
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Saque</h5>
                        <a href="#" class="btn btn-primary">Saque</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Extrato</h5>
                        <a href="#" class="btn btn-primary">Extrato</a>
                    </div>
                </div>
            </div>
       </div>
    </div>
</body>
</html>
