<div class="container d-flex justify-content-center mt-3">
  <div class="well container__content">
    <h1>Melhoroes Clientes</h1>
    <table class="table table-striped table-bordered table-hover">
      <tbody>
        <tr>
          <th>CPF</th>
          <th>Nome</th>
          <th>Estado</th>
          <th>Cidade</th>
          <th>Saldo</th>
        </tr>
        <tr *ngFor="let value of data">
          <td>00000000000</td>
          <td>TESTE DA SILVA</td>
          <td>PR</td>
          <td>CURITIBA</td>
          <td>SALDO</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>