
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bantads</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>  
    <tr> 
        <td>
          <th>CPF</th>
          <th>Nome</th>
          <th>Salário</th>
          <th class="text-center">Ação</th>
    </tr>
<tr>
          <td class="text-center" style="width: 300px">
            <a href="#" title="Aprovar" alt="Aprovar" class="">
              <i class="fa fa-times" aria-hidden="true"></i> Aprovar
            </a>
            <button type="button" class="">
                <a href="#" title="Rejeitar" alt="Rejeitar" class="">
              <i class="fa fa-eye" aria-hidden="true"></i> Rejeitar
            </a>
            </button>
          </td>
        </tr>
      </body>
</html>