<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
      <div class="col-xl-8">
        <div class="card shadow">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="text-uppercase text-muted ls-1 mb-1">Gerentes</h6>
                        <h2 class="mb-0">Lista de Gerentes</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Nome</th>
                          <th scope="col">CPF</th>
                          <th scope="col">E-mail</th>
                          <th scope="col">Telefone</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let gerente of gerentes">
                          <th scope="row">{{ gerente.name }}</th>
                          <td>{{ gerente.cpf }}</td>
                          <td>{{ gerente.email }}</td>
                          <td>{{ gerente.cellphone }}</td>
                          <td>
                            <button type="submit" class="btn btn-secondary mx-2" (click)="abrirModalEditar(gerente)">
                              Editar
                            </button>
                            <button type="button" class="btn btn-danger mx-2" (click)="excluirGerente(gerente.id)">
                              Excluir
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    
                  </div>
            </div>
        </div>
      </div>
      <div class="col-xl-4 mb-5 mb-xl-0">
          <div class="card bg-trasparent-info shadow">
              <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                      <div class="col">
                          <h6 class="text-uppercase text-muted ls-1 mb-1">Formulário</h6>
                          <h2 class="mb-0">Gerente</h2>
                      </div>
                  </div>
              </div>
              <div class="col mt-3 mb-3">
                <form (ngSubmit)="salvarNovoGerente()">
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="ni ni-hat-3"></i
                        ></span>
                      </div>
                      <input class="form-control" placeholder="Nome" type="text" required #nomeInput/>
                    </div>
                  </div>


                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="ni ni-badge"></i
                        ></span>
                      </div>
                      <input class="form-control" placeholder="CPF" type="number" required #cpfInput/>
                    </div>
                  </div>

                    
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="ni ni-email-83"></i
                        ></span>
                      </div>
                      <input class="form-control" placeholder="Email" type="email" required #emailInput/>
                    </div>
                  </div>
                    


                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="ni ni-mobile-button"></i
                        ></span>
                      </div>
                      <input class="form-control" placeholder="Telefone/Celular" type="number" required #telefoneInput/>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">
                      Salvar
                    </button>
                  </div>
                </form>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Modal de Edição -->
<div class="modal" [ngClass]="{'show': modalAberta, 'd-block': modalAberta}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarGerenteModalLabel">Editar Gerente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Formulário de Edição -->
        <form (submit)="salvarEdicao()">
          <div class="form-group">
            <label for="nomeInput">Nome</label>
            <input type="text" class="form-control" id="nomeInput" [(ngModel)]="gerenteSelecionado.name" name="name" required>
          </div>
          <div class="form-group">
            <label for="emailInput">E-mail</label>
            <input type="email" class="form-control" id="emailInput" [(ngModel)]="gerenteSelecionado.email" name="email" required>
          </div>
          <div class="form-group">
            <label for="telefoneInput">Telefone</label>
            <input type="text" class="form-control" id="telefoneInput" [(ngModel)]="gerenteSelecionado.cellphone" name="cellphone" required>
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>