<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} <a href="#" class="font-weight-bold ml-1" target="_blank">BANTADS</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="#" class="nav-link" target="_blank">Leandro Souza</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" target="_blank">Lucas Ribeiro</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" target="_blank">Maricot Nicolas</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" target="_blank">Matheus Borges</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" target="_blank">Osmair Ribeiro</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" target="_blank">Pedro Horning</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
